/* overall */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 350px;
}



/* font sizes */

h1{
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
    text-shadow: 0px 2px 7px #000;

}
h1 > span{
    font-weight: 900;
    font-size: 2.5rem;

}
h2{
    font-size: 1rem;
}
h3{
    font-size: 0.7rem;
}
h4{

}
h5{

}
p{
font-size: 0.7rem;
}
p > span {
    font-weight: bold;
}



/* margins */

.page_margin{
    margin-left: 5vw;
    margin-right: 5vw;
}
.margin_top_35{
    margin-top: 35px;
}
.margin_bot_75{
    margin-bottom: 75px;
}
.margin_bot_35{
    margin-bottom: 35px;
}
.margin_bot_15{
    margin-bottom: 15px;
}
.margin_0{
    margin: 0 auto;
}
.margin_right_40{
    margin-right: 40px;
}



/* text */

.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
.white_text{
    color: white;
}



/* --- flex --- */

/* flex direction */
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_col{
    display: flex;
    flex-direction: column;
}

/* from col to row on bigger screens (see media queries) */
.flex_col_to_row{
    display: flex;
    flex-direction: column;
}

/* flex shrink */
.flex_shrink_half{
    flex: 0.5 0.5 0
}
.flex_shrink_one{
    flex: 1 1 300px
}

/* justify content */
.space_around{
    justify-content: space-around;
}
.space_between{
    justify-content: space-between;
}
.justify_end{
    justify-content: flex-end;
}
.justify_center{
    justify-content: center;
}

/* align content */
.align_center{
    align-content: center;
}
.align_end{
    align-content: flex-end;
}

/* self-align */
.align_self_center{
    align-self: center;
}


/* display */

.block{
    display: block;
}


/* --------- components --------- */

/* --- header section */

header{
    font-size: 0.65rem;
    color: #000;
    white-space: nowrap
}
#header_logo{
    width: 120px;
    height: 40px;
    margin: 1rem;
}

/* desktop navbar */

#header_nav_Large{
    display: none;
}
.icons{
    width: 17px;
    margin: 0 5px ;
    position: relative;
    top: 2px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.5rem 0;
    padding: 0;
    list-style-type: none;
}
header a{
    color: inherit;
    text-decoration: none;
}
#phonenum{
    color: #ecc511;
    font-size: 0.9rem;
    margin: 0 1.5rem;
}

/* mobile navbar */

#menu_open_btn{
    width: 25px;
    height: 25px;
    align-self: center;
}
#mobilemenu{
    height: auto;

}
.open_nav{
    display: block;
}
.close_nav{
    display: none;
}

.nav_item{
    width: 100%;
    font-size: 0.8rem;
    /* background-color: #313132; */
    /* color: white; */
    padding: 0.5rem;
    margin-bottom: 4px;
}



/* --- Hero section */

#hero_section{
    padding: 130px 0;
    background: url("images/slider.jpg") left/cover no-repeat;;

}
#hero_button{
    border: none;
    background-color:#7a0202 ;
    opacity: 80%;
    color: white;
    padding: 0.3rem 1.3rem;
    margin-top: 20px;
    font-size: 1.1rem;
}



/* --- services section */

.img_row{
    display: flex;
    flex-direction: column;
}
.round_images{
    max-width: 300px;
    margin: 15px;
}
.round_images > img{
    max-width: 100%;
}


/* --- rådgivning & erfaring section */
#trae_bg_section{
    background: url("images/trae.jpg") left/cover no-repeat;
    padding: 25px 0;
}
#trae_bg_section h2{
    color: #222;
}
.reference_photos{
    align-self: center;
    margin-bottom: 50px;
}
.reference_photos > img{
    width: 200px;
}



/* --- contact section */

.text_inputs{
    width: 100%;
    margin: 5px;
    padding: 7px;
    border-radius: 0;
    border: 1px solid #DEDEDE ;
    outline: none;
    font-family: inherit;
}
.text_inputs::placeholder { 
    color: #a8a7a7;
    opacity: 1;
}
#form_button{
    width: 100%;
    margin: 5px;
    padding: 7px;
    border: none;
    border-radius: 0;
    background-color: #7a0202;
    color: white;
    font-size: 0.8rem;
    box-sizing: content-box
}

/* google maps component*/
iframe{
    width: 100%; 
    height: 100%;
    min-height: 300px;
    margin-left: 10px;
}



/* footer */
footer{
    padding-top: 20px;
    background-color: #313132;
}
footer p{
    font-size: 0.7rem;
}
.footer_photos{    
    align-self: center;
    margin-bottom: 10px;
    width: 200px;

}
.footer_photos > img{
    width: 200px;
}




/* --------- media queries --------- */

@media (min-width: 481px) {
    .page_margin{
        margin-left: 6vw;
        margin-right: 6vw;
    }
    h1{
        font-size: 3rem;
    }
    h1 > span{
        font-size: 3.5rem;
    
    }
    h2{
        font-size: 1.2rem;

    }
    h3{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
    }
}

@media (min-width: 769px) {
    .page_margin{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    h1{
        font-size: 3rem;
    }
    h1 > span{
        font-size: 3.5rem;
    
    }
    h3{
        font-size: 0.9rem;
    }
    .flex_col_to_row{
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    /* properties to swap from mobile menu to desktop menu, below */
    #menu_open_btn{
        display: none;
    }
    #header_nav_Large{
        display: flex;
    }
    #mobilemenu{
        display: none;
    }
    .nav_active{
        text-decoration-line: underline;
        text-decoration-color: #ecc511;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
    header a{
        margin: 0 0.4rem;
    }
}

@media (min-width: 1025px) {
    .page_margin{
        margin-left: 13vw;
        margin-right: 13vw;
    }
    h1{
        font-size: 3rem;
    }
    h1 > span{
        font-size: 3.5rem;
    
    }
    p{
        font-size: 0.9rem;
    }
    header a{
        margin: 0 0.8rem;
    }
    .img_row{
        flex-direction: row;
    }
}

@media (min-width: 1201px) {
    .page_margin{
        margin-left: 18.5vw;
        margin-right: 18.5vw;
    }
    h1{
        font-size: 3.5rem;
    }
    h1 > span{
        font-size: 5rem;
    
    }
}


/* you made it down here.. thank you! i hope it made sense  */

/* made by Jonatan Frederiksen */
/* as part of a jobinterview for standoutmedia ApS  */